@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}

/* #BilouImage {
  clip-path: polygon(0 0, 10% 0, 9% 3%, 20% 3%, 19% 7%, 30% 7%, 29% 11%, 40% 11%, 39% 15%, 50% 15%,
      49% 19%, 60% 19%, 59% 23%, 70% 23%, 69% 27%, 80% 27%, 79% 31%, 90% 31%, 100% 31%,
      100% 100%, 90% 100%, 89% 97%, 80% 97%, 79% 93%, 70% 93%, 69% 89%, 60% 89%, 59% 85%,
      50% 85%, 49% 81%, 40% 81%, 39% 77%, 30% 77%, 29% 73%, 20% 73%, 19% 69%, 10% 69%,
      9% 65%, 0 65%);
  transition: clip-path 0.3s;
}

#BilouImage:hover {
  clip-path: polygon(0 0, 10% 0, 9% 3%, 20% 3%, 19% 7%, 30% 7%, 29% 11%, 40% 11%, 39% 15%, 50% 15%,
      49% 19%, 60% 19%, 59% 23%, 70% 23%, 69% 27%, 80% 27%, 79% 31%, 90% 31%, 100% 31%,
      100% 100%, 90% 100%, 89% 97%, 80% 97%, 79% 93%, 70% 93%, 69% 89%, 60% 89%, 59% 85%,
      50% 85%, 49% 81%, 40% 81%, 39% 77%, 30% 77%, 29% 73%, 20% 73%, 19% 69%, 10% 69%,
      9% 65%, 0 65%);
} */

/* 
@media (max-width: 640px) {
  #portfolio {
    padding-top: 120vh;
  }

  #about {
    padding-top: 20vh;
  }

  #experience {
    padding-top: 150vh
  }

  #home {
    padding-top: 10vh
  }
}
*/
/* @media screen and (orientation: landscape)and (max-width: 800px) {

  #contact {
    padding-top: 400vh
  }

}  */